<div id="ArtalkComments"></div>
<script>
$(document).ready(function () {
  var artalk = new Artalk({
    el: '#ArtalkComments',
    placeholder: '来啊，快活啊 ( ゜- ゜)',
    defaultAvatar: 'mp',
    readMore: {
      pageSize: 15,
      autoLoad: true
    },
    pageKey: '<%= page.permalink %>',
    serverUrl: '<%= theme.comment.artalk.serverUrl %>'
  });
});
</script>
