<% if (post.categories && post.categories.length) { %>
    <div class="article-category">
    	<i class="zmdi zmdi-folder"></i>
        <%- list_categories(post.categories, {
            show_count: false,
            class: 'article-category',
            style: 'none',
            separator: '<i class="zmdi zmdi-chevron-righ"></i>'
        }) %>
    </div>
<% } %>