// Config
support-for-ie = false
vendor-prefixes = webkit moz ms official

// Colors
color-default = #565a5f
color-grey = #999
color-meta = #757e91
color-border = #eceff2
color-link = #03A9F4
color-background = #f3f5f7
color-sidebar-text = #777
color-sidebar-text-dark = #333
color-widget-background = #ddd
color-widget-border = #ccc

// Fonts
font-sans = "Helvetica Neue", "PingFangSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif
font-serif = Georgia, "Times New Roman", "Microsoft Yahei", serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 14px
line-height = 1.6em
line-height-title = 1.3em

// Header
header-height = 64px
header-sub-height = 48px
logo-url = hexo-config("customize.logo.url")
logo-width = 0px + hexo-config("customize.logo.width")
logo-height = 0px + hexo-config("customize.logo.height")

// Sidebar
thumbnail-default-small = 'images/thumb-default-small.png'

// Profile bar
base-info-height = 175px
profile-avatar-size = 90px
profile-cover-url = hexo-config("customize.profile.cover")
profile-cover-height = 95px

// Layout
block-margin = 20px
article-padding = 20px
mobile-nav-width = 280px
main-column = 7
sidebar-column = 3
sidebar-left-column = 3
sidebar-column-tablet = 4

// Grids
column-width = 80px
gutter-width = 20px
columns = main-column + sidebar-column + sidebar-left-column

main-column-tablet = 9

// Media queries
mq-mini = "screen and (max-width: 559px)"
mq-mobile = "screen and (min-width: 560px) and (max-width: 799px)"
mq-tablet = "screen and (min-width: 800px) and (max-width: 1199px)"
mq-normal = "screen and (min-width: 1200px)"

// Code Highlight
highlight = hexo-config("customize.highlight") || "tomorrow"

// Miscellaneous
color-twitter = #00aced
color-facebook = #3b5998
color-pinterest = #cb2027
color-google = #dd4b39
