.bio
    text-align: center

#profile .inner .bio h2
    font-size: 1.3em
    font-weight: bold
    margin-top: 15px

#profile .inner .bio p
    margin: 5px 20px 10px 20px
    text-align: justify
    max-width: 300px
    line-height: 1.5em

.profile-block
    position relative
    padding: 15px 20px
    border-bottom: 1px solid color-border
    &:last-child
        border-bottom: none

#profile
    column(profile-column)
    display: none
    @media mq-normal
        display: block
    margin-bottom: block-margin
    .inner
        @extend $block
        margin-top: block-margin
        background: white
        .base-info
            height: base-info-height
            padding: 0
            overflow: hidden
            avatar-offset = (profile-cover-height/2 + 20)
            avatar-margin = 23px
            .profile-top-part
                position: absolute
                width: 100%
                z-index: 1
                height: base-info-height
            .profile-bg
                background-color: #FFF
                height: profile-cover-height
                background-image: url(profile-cover-url);
                background-repeat: no-repeat;
                box-shadow: 0 1px 8px 0 rgba(0,0,0,0.03)
                background-size: 100% profile-cover-height;
            .info-inner
                position: relative
                display: inline-block
                margin-top: profile-cover-height
                margin-left: (profile-avatar-size + avatar-margin)
            #avatar
                position: absolute
                display: block
                margin: avatar-offset auto 0 avatar-margin
                width: profile-avatar-size
                height: profile-avatar-size
                box-sizing: border-box
                color: rgb(255, 255, 255)
                border-radius: 50%
                border: 3px solid rgb(255, 255, 255)
            #name, #title, #location
                display: block
                padding-left: 17px
                padding-right: 17px
            #name
                font-size: 20px
                font-weight: 600
                text-align: left
                padding-top: 10px
                padding-bottom: 5px
            #title
                padding-bottom: 15px

        .article-info
            clearfix()
            padding: 0px
            .article-info-block
                width: 50%
                float: left
                padding: 20px 15px
                text-align: center
                box-sizing: border-box
                font-size: font-size + 6px
                span
                    display: block
                    font-size: font-size
                    text-transform: uppercase
                &:first-child
                    border-right: 1px solid color-border
        .social-links
            & > table
                width: 100%
                td
                    text-align: center
                    font-size: font-size + 10px
                    a
                        position: relative
                        transition: 0.2s ease
                        color: color-default + #333
                        &:hover
                            color: color-default
                        &.tooltip:hover
                            &:after
                                right: -50%
                                top: -41px
                                color: white
                                background: #333
                                font-size: 14px
                                content: attr(title)
                                display: block
                                padding: 5px 15px
                                position: absolute
                                white-space: nowrap
                                border-radius: 2px
                                text-transform: uppercase
                                box-shadow: 0 0 2px rgba(0, 0, 0, 0.2)
                                z-index: 1
                            &:before
                                top: -12px
                                right: 8px
                                border: solid
                                border-color: #333 transparent
                                border-width: 5px 5px 0 5px
                                content: ""
                                display: block
                                position: absolute
                                z-index: 2
    &.card
        top: 50px
        right: 20px
        z-index: 999
        display: block
        min-width: 280px
        position: absolute
        .profile-inner
            position: relative
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2)
            &:before, &:after
                z-index: 1
                content: ''
                top: -20px
                right: 10px
                position: absolute
                border-width: 10px
                border-style: solid
                border-color: transparent transparent white transparent
            &:after
                z-index: 0
                border-color: transparent transparent color-border - #111 transparent
