#sidebar
  @media mq-normal
    column(sidebar-column)
  @media mq-tablet
    column(sidebar-column-tablet)

.category-list-count
.tag-list-count
.archive-list-count
  padding-left: 5px
  color: color-grey
  font-size: 0.85em
  &:before
    content: "("
  &:after
    content: ")"

.widget
  @extend $base-style
  position: relative
  line-height: line-height
  word-wrap: break-word
  font-size: 0.9em
  ul, ol
    list-style: none
    margin: 0
    ul, ol
      margin: 0 20px
    ul
      list-style: disc
    ol
      list-style: decimal

.widget
  padding: 5px 15px 5px 15px
  a
    color: color-sidebar-text
    text-decoration: none
    &:hover
      color: color-sidebar-text-dark
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc
  ul, ol
    list-style: none
    li,
    .category-list-child
      padding: 10px 0
      font-size: font-size
      a
        color: color-sidebar-text
    ul, ol
      list-style: none
      li
        border: none
        &:last-child
          padding-bottom: 0px
  ul:not(#recent-post), ol:not(#recent-post)
    li
      a
        &:before
          color: #ccc
          content: "\f2f6"
          font-size: 12px
          margin-right: 15px
          font-family: Material-Design-Iconic-Font
          transition: 0.2s ease
        &:hover:before
          color: color-sidebar-text-dark

.tagcloud
  a
    margin-right: 5px

.widget-wrap
  @extend $block
  border: 0
  background: #f5f8fa
  margin: block-margin 0
  @media mq-mini
    margin: block-margin 20px

.widget-title
  @extend $block-caption
  color: color-default
  padding: 18px 15px 10px 15px
  margin-bottom: 0
  text-align: center
  font-size: 19px

  &:before
    color: color-link
    content: "\f2fb"
    font-size: 12px
    margin-right: 15px
    font-family: Material-Design-Iconic-Font
    transition: 0.2s ease

#toTop
  @extend $block
  display: none
  cursor: pointer
  text-align: center
  width: 60px
  height: 40px
  color: #757e91
  font-size: 35px
  line-height: 40px
  background: #FFF
  opacity: 0.8
  border-radius: 100px
  border: 1px solid color-border
  bottom: 20px
  position: fixed
  @media mq-mobile
    width: 52px
    height: 52px
    font-size: 34px
    line-height: 52px
  @media mq-mini
    width: 48px
    height: 48px
    font-size: 32px
    line-height: 48px


#recent-post
  li
    clearfix()
    padding: 10px 0 10px 94px
  &.no-thumbnail
    li
      padding: 10px 0px
  li
    .item-thumbnail
      opacity: 1
      float: left
      margin-left: -94px
      .thumbnail
        width: 80px
        height: 80px
        display: block
        position: relative
        overflow: hidden
        border-radius: 20px
        span
          width: 100%
          height: 100%
          display: block
        .thumbnail-image
          position: absolute
          background-size: cover
          background-position: center
        .thumbnail-none
          background-image: url(thumbnail-default-small)
          background-size: 100% 100%
    .item-inner
      a
      .item-category
        font-size: 12px
        text-transform: uppercase
        a
          color: color-link
          &:hover
            color: color-sidebar-text-dark
        a, i
          margin-right: 5px
      .item-title
        font-size: 15px
        a
          color: color-sidebar-text-dark
          transition: all 0.2s ease
      .item-date
        color: #aaa
        font-size: 13px
        text-transform: uppercase
    &:hover
      .item-thumbnail
        opacity: 0.8
      .item-title a
        color: color-link

#sidebar-left
  column(sidebar-left-column)
  @media mq-normal
    display: block
  position: relative
  display: none
  margin-bottom: block-margin
  &.card
    top: 50px
    right: 20px
    z-index: 999
    display: block
    min-width: 280px
    position: absolute
    .widget-wrap
      margin: 20px 0
    .profile-inner
      position: relative
      &:before, &:after
        z-index: 1
        content: ''
        top: -20px
        right: 10px
        position: absolute
        border-width: 10px
        border-style: solid
        border-color: transparent transparent white transparent
      &:after
        z-index: 0
        border-color: transparent transparent color-border - #111 transparent

#profile
  .profile-block
    position relative
    padding: 15px 20px
    &:last-child
      border-bottom: none

  .inner
    @extend $block
    border: 1px solid color-border
    margin-top: block-margin
    background: white
    .base-info
      height: base-info-height
      padding: 0
      overflow: hidden
      avatar-offset = (profile-cover-height/2 + 20)
      avatar-margin = 23px
      .profile-top-part
        position: absolute
        width: 100%
        z-index: 1
        height: base-info-height
      .profile-bg
        background-color: #FFF
        height: profile-cover-height
        background-image: url(profile-cover-url);
        background-repeat: no-repeat;
        background-size: 100% profile-cover-height;
      .info-inner
        position: relative
        display: inline-block
        margin-top: profile-cover-height
        margin-left: (profile-avatar-size + avatar-margin)
      .avatar-wrap
        position: absolute
        overflow: hidden
        padding: 3px
        background: #FFF
        border-radius: 100px
        margin: avatar-offset auto 0 avatar-margin
        width: profile-avatar-size
        height: profile-avatar-size
      #avatar
        display: block
        box-sizing: border-box
        color: rgb(255, 255, 255)
        border-radius: 100px
        width: profile-avatar-size
        height: profile-avatar-size
      #name, #title, #location
        display: block
        padding-left: 17px
        padding-right: 17px
      #name
        color: #555
        font-size: 18px
        font-weight: 600
        text-align: left
        padding-top: 15px
        padding-bottom: 5px
      #title
        color: color-meta
        font-size: 12px
        padding-bottom: 15px

    .article-info
      clearfix()
      padding: 20px 10px
      .article-info-block
        width: 50%
        float: left
        padding: 0 15px
        text-align: center
        box-sizing: border-box
        font-size: font-size + 6px
        a
          color: color-link
        span
          color: color-meta
          margin-left: 3px
          font-size: font-size
          text-transform: uppercase
        &:first-child
          border-right: 1px solid color-border
    .social-links
      padding: 10px 10px 15px 10px
      display: flex
      flex-direction: row
      .social-link-item
        text-align: center
        font-size: font-size + 10px
        flex: 1
        a
          position: relative
          transition: 0.2s ease
          color: color-default + #333
          &:hover
            color: color-default


#article-content-index
  .widget
    padding-left: 0
    padding-right: 0
    padding-bottom: 0
    /* &:after
      pointer-events: none
      position: absolute
      z-index: 1
      display: block
      overflow: hidden
      width: 100%
      content: " "
      bottom: 0
      height: 5%
      background: linear-gradient(180deg, hsla(0,0%,100%,0) 0, hsla(0,0%,100%,.8)) */

  .index-list
    display: block
    overflow-y: auto
    padding-bottom: 5px

    .item
      border-left: 2px solid transparent

      for number in 2 3 4 5 6
        &.type-{number}
          padding-left: number * 10 px

      a
        display: block
        padding: 10px 15px 10px 0

      &.active, &:hover
        border-left: 2px solid color-link

      &.active a
        color: color-link

    &::-webkit-scrollbar
      width: 2px
      background: transparent

    &::-webkit-scrollbar-thumb
      background: rgba(86, 86, 86, 0.3)
